/* Scree Resolution: 1920
    Grid: 310 620 60 620 310 */

.landing {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/open_kitchen.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.nav-bar {
    position: sticky;
    width: 100%;
}

.landing-msg::before {
    display: block;
    height: 2px;
    background-color: rgb(172, 168, 168);
    content: " ";
    width: 75%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.landing-msg {
    position: absolute;
    width: 400px;
    height: 150px;
    left: 400px;
    top: 650px;
    color: rgb(172, 168, 168);
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight:400;
}