/* Scree Resolution: 1920
    Grid: 310 620 60 620 310 */

.landing {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/open_kitchen.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.nav-bar {
    position: fixed;
    width: 100%;
}