.nav {
    margin-left: 620px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    font-family: 'Playfair Display', serif;
}